["one single was released in conjunction with the album \u2014 `` groupie `` / `` she 's no angel `` .", [59, 65, "art-music"], [75, 89, "art-music"]]
["the winning amateur from each age division then would play an 18-hole match against a pga tour pro , using the correct handicap system .", [86, 93, "event-sportsevent"]]
["all of these are , like the mbbs , master 's level qualifications that bear bachelor 's designations for historical reasons .", [28, 31, "other-educationaldegree"]]
["the facility also hosted the conference usa men 's basketball tournament from 2005 to 2009 .", [29, 71, "event-sportsevent"]]
["in 1984 the sevens date was switched to the spring - the sunday prior to the first monday in may .", [12, 17, "event-sportsevent"]]
["in february 2010 , he reached with the round of 16 at the 2010 french open his best result on the euro tour .", [63, 73, "event-sportsevent"], [98, 106, "event-sportsevent"]]
["she writes that `` even into the twenty-first century mainstream conservative republican politicians continued to associate themselves with issues , symbols , and organizations inspired by the neo-confederate right `` .", [78, 87, "organization-politicalparty"], [193, 213, "organization-politicalparty"]]
["critical reaction to `` phantom phorce `` was generally positive .", [24, 37, "art-music"]]
["because of the semi-universal suffrage obtained by the colonies in the 1850s , the liberal and chartists were able to effect widespread change and gain seats in parliament .", [83, 89, "organization-politicalparty"], [95, 103, "organization-politicalparty"]]
["dennis ' `` the songs of a sentimental bloke `` .", [16, 43, "art-music"]]
["this song was appearing by the compilation album wow hits 2009 and his regular versions .", [49, 61, "art-music"]]
["the approximate party strength at this election , as expressed by the vote for governor , was : democrats 650,000 ; republicans/united labor 631,000 ; prohibition 30,000 ; and socialist labor 3,500 .", [96, 104, "organization-politicalparty"], [116, 139, "organization-politicalparty"], [151, 161, "organization-politicalparty"], [176, 190, "organization-politicalparty"]]
["the production officially opened at dublin 's bord g\u00e1is energy theatre in october 2016 , and closed at the bradford alhambra theatre on may 13 , 2017 .", [36, 69, "building-theater"], [107, 131, "building-theater"]]
["post graduate programmes ( master of engineering ) in these disciplines too were started in 1967 .", [27, 32, "other-educationaldegree"]]
["originally a carpenter , he embraced literature and his plays were performed at the th\u00e9\u00e2tre du gymnase dramatique , at the th\u00e9\u00e2tre de l'op\u00e9ra-comique and at the th\u00e9\u00e2tre-fran\u00e7ais .", [84, 101, "building-theater"], [123, 148, "building-theater"], [161, 176, "building-theater"]]
["it may also be referred to as a master of science in justice administration ( m.s.j.a .", [32, 74, "other-educationaldegree"]]
["the honours bachelor of commerce degree often serves as an abridgement ( or entry requirement ) between the undergraduate program and postgraduate programs , including the master of commerce ( m.com .", [4, 31, "other-educationaldegree"], [172, 189, "other-educationaldegree"]]
