["\u00e1guila of the primera divisi\u00f3n for the clausura 2016 .", [39, 51, "event-sportsevent"]]
["there were successes in formula two and formula junior .", [24, 34, "event-sportsevent"], [40, 53, "event-sportsevent"]]
["some theories claim that this station was closed as a result of the destruction and burning down of the building located above the station , which was the headquarters of the argentine socialist party at the time .", [175, 199, "organization-politicalparty"]]
["the others were mana motuhake ( a m\u0101ori party ) and the greens ( an environmentalist party ) .", [16, 28, "organization-politicalparty"], [56, 61, "organization-politicalparty"]]
["\u2020 the kraft nabisco championship was the nabisco dinah shore championship through 1999 .", [2, 31, "event-sportsevent"], [41, 72, "event-sportsevent"]]
["the alliance was largely successful as the trinamool congress , the congress and the suci ( c ) won 19 , 6 and 1 seat respectively , dislodging the left front , which won only 15 seats out of 42 .", [43, 60, "organization-politicalparty"], [68, 75, "organization-politicalparty"], [85, 88, "organization-politicalparty"], [148, 157, "organization-politicalparty"]]
["the mapparium was closed in 1998 for a four-year cleaning and renovation .", [4, 12, "building-theater"]]
["the new production opened at the london coliseum theatre on 5 september 1918 .", [33, 55, "building-theater"]]
["it produced the underground hit `` stay real `` and `` pressure is tigh t '' , as well as two music videos , shot for the singles `` stay real `` and `` this goes out to you `` .", [32, 43, "art-music"], [55, 70, "art-music"], [133, 141, "art-music"], [153, 172, "art-music"]]
["largely ignored upon release , `` now is early `` is now regarded as a `` lost classic '' and forerunner to jungle music .", [34, 45, "art-music"]]
["he also worked for the winter garden theatre ( 1850 ) .", [19, 43, "building-theater"]]
["the ph.d . programs last between three and five years .", [4, 9, "other-educationaldegree"]]
["it added not only a full-time mpa ( 2000 ) , mdevs ( 2004 ) but also a full-time mba program in 1995 , an executive mba ( emba ) program in 2002 , and an online mba program in 2007 .", [30, 32, "other-educationaldegree"], [45, 49, "other-educationaldegree"], [81, 83, "other-educationaldegree"], [116, 127, "other-educationaldegree"], [161, 163, "other-educationaldegree"]]
["it was also performed in january 1998 at new york 's dance theater workshop and minneapolis ' walker art center .", [41, 74, "building-theater"], [80, 110, "building-theater"]]
