["the territory of colorado was created to govern this western region of the former kansas territory on february 28 , 1861 .", [0, 24, "location-GPE"], [82, 97, "location-GPE"]]
["he moved with his parents to valparaiso , indiana in the early 1842 , where he attended the local public schools .", [29, 38, "location-GPE"], [42, 48, "location-GPE"]]
["with a number of court favourites commanding other vessels , a small fleet set sail for the coast of brittany .", [101, 108, "location-GPE"]]
["gamerankings and metacritic gave it a score of 73.83 % and 73 out of 100 .", [0, 11, "organization-media/newspaper"], [17, 26, "organization-media/newspaper"]]
["this was too small to accommodate the enlarged anglican congregations as tourism boomed from the kendal and windermere railway opened in 1847 .", [47, 54, "location-GPE"], [97, 125, "location-road/railway/highway/transit"]]
["falistina was a kingdom somewhere on the amuq plain , where the amurru kingdom had held sway before it .", [0, 8, "location-GPE"], [41, 50, "location-other"], [64, 69, "location-GPE"]]
["she was admitted to the michigan bar in 1976 .", [24, 35, "organization-other"]]
["however , the airfield remains under the jurisdiction of the 96th air base wing ( 96 abw ) as part of the active eglin base and is not accessible to the public .", [57, 78, "organization-other"], [82, 87, "organization-other"], [113, 122, "organization-other"]]
["the five-story building is located at the former galleria zamboanga .", [49, 66, "organization-company"]]
["the arakawa river has inundated kawaguchi countless times and ruined agriculture , which resulted in famines .", [4, 16, "location-bodiesofwater"], [32, 40, "location-GPE"]]
["starting in 1975-76 , cfcf carried saturday games as well .", [22, 25, "organization-other"]]
["the return came against istrouma high school , his father 's alma mater .", [24, 43, "organization-education"]]
["after this she transitioned to copenhagen and co-founded the copenhagen institute of interaction design ( ciid ) .", [31, 40, "location-GPE"], [61, 102, "organization-education"], [106, 109, "organization-education"]]
["allied chemical and dye corporation became allied chemical corporation in 1958 .", [0, 34, "organization-company"], [43, 69, "organization-company"]]
["it was released on april 29 , 2010 , and is available through verizon wireless only .", [62, 77, "organization-company"]]
["3001 to texas & amp ; pacific railroad in march 1957 , to replace the heavily vandalized and subsequently scrapped texas & amp ; pacific 2-10-4 no .", [8, 37, "organization-company"]]
["( due to increased precipitation , the mass of parts of the antarctic ice sheet may currently be increasing , but the total mass balance is unclear . )", [60, 68, "location-other"]]
["at the istanbul university .", [7, 25, "organization-education"]]
["the other three 2008 statewide democratic candidates also carried the county handily .", [31, 40, "organization-politicalparty"]]
["nit hamirpur offers a comprehensive curriculum for undergraduate , graduate and doctorate studies in various fields of architecture , engineering , pure sciences and humanities .", [0, 11, "organization-education"]]
["on 28 february 2001 , the national trust listed `` little mackerel beach , currawong `` on their non-statutory register .", [26, 39, "organization-other"], [51, 71, "location-other"], [75, 83, "location-other"]]
["mobile yacht club \u2019 s first club house , located on the east bank of the mobile river opposite the foot of st. francis street .", [0, 16, "organization-other"], [73, 84, "location-bodiesofwater"], [107, 124, "location-road/railway/highway/transit"]]
["tv '' transmitted weekly on wogx tv-51 , and also my65 .", [28, 37, "organization-media/newspaper"], [50, 53, "organization-media/newspaper"]]
["the total area covered by kinver edge now amounts to approximately 600 acres .", [26, 36, "location-other"]]
["both major peaks on the trail , sn\u011b\u017eka and szrenica are shrouded in fog or cloud for more than half of the year : for 296 days and 264 days respectively .", [32, 37, "location-mountain"], [43, 50, "location-mountain"]]
["fountain street was originally part of a 19th century turnpike known as the rimmon falls turnpike .", [0, 14, "location-road/railway/highway/transit"], [76, 96, "location-road/railway/highway/transit"]]
["the river originates in the muskwa ranges at an elevation of .", [28, 40, "location-mountain"]]
["at it is the highest point of the karakoram range and the second highest mountain in the world .", [34, 42, "location-mountain"]]
["it also included the creation of rodda lane and university way as secondary pedestrian laneways .", [33, 42, "location-road/railway/highway/transit"], [48, 61, "location-road/railway/highway/transit"]]
["the nurses and midwifery council ( nmc ) is the regulates the activities , curriculum and examination of the student nurses and midwives .", [4, 31, "organization-media/newspaper"], [35, 37, "organization-media/newspaper"]]
["it is somewhat more orthodox than the main pda .", [43, 45, "organization-politicalparty"]]
["all four statewide elective offices up for election were carried by the republican union .", [72, 87, "organization-politicalparty"]]
["the mountain appears in the clingmans dome quad on usgs topographical maps .", [28, 41, "location-mountain"], [51, 54, "organization-other"]]
["the neighbourhood is bordered by the saint lawrence river to the south , saint hubert street to the west , the canadian pacific rail line to the east and sherbrooke street to the north .", [37, 56, "location-bodiesofwater"], [73, 91, "location-road/railway/highway/transit"], [111, 136, "location-road/railway/highway/transit"], [154, 170, "location-road/railway/highway/transit"]]
["a few days later the parliamentary labour party voted by a majority of 205 to adopt the unamended definition to their standing orders .", [21, 46, "organization-politicalparty"]]
["the progressive liberal d'66 loses its two seats and disappears from the parliament .", [16, 27, "organization-politicalparty"]]
["water supply is provided by the tirunelveli city corporation from the tamirabarani river , throughout the city .", [32, 59, "organization-company"], [70, 87, "location-bodiesofwater"]]
["the glacier melt feeds streams below including spalding falls , an high cascade .", [47, 60, "location-bodiesofwater"]]
