["on 13 february 2001 india and myanmar inaugurated a major 160 kilometre highway , called the indo-myanmar friendship road , built mainly by the indian army 's border roads organisation and aimed to provide a major strategic and commercial transport route connecting north-east india , and south asia as a whole , to southeast asia .", [20, 24, "location-GPE"], [30, 36, "location-GPE"], [93, 120, "location-road/railway/highway/transit"], [144, 183, "organization-other"], [277, 281, "location-GPE"], [295, 298, "location-GPE"], [326, 329, "location-GPE"]]
["the rauma line railway opened on 29 november 1924 .", [4, 21, "location-road/railway/highway/transit"]]
["it roughly follows the route of national route 141 , paralleling the road at some places and crossing it twice .", [32, 49, "location-road/railway/highway/transit"]]
["here , ky 1039 comes to its northern terminus at the indiana border , where it continues as sr 101 .", [7, 13, "location-road/railway/highway/transit"], [53, 59, "location-GPE"], [92, 97, "location-road/railway/highway/transit"]]
["mccallister 's contribution to the film delivered him a four-year contract with fox .", [80, 82, "organization-company"]]
["from south to north , it passes through the unincorporated communities of richmond furnace , metal , fannettsburg ( the largest community in the township ) , springtown , and willow hill .", [74, 89, "location-GPE"], [93, 97, "location-GPE"], [101, 112, "location-GPE"], [158, 167, "location-GPE"], [175, 185, "location-mountain"]]
["the socialist party of albania is an associate of the party of european socialists ( pes ) and a member of the socialist international .", [4, 29, "organization-politicalparty"], [54, 81, "organization-politicalparty"], [85, 87, "organization-politicalparty"], [111, 133, "organization-other"]]
["he received a juris doctor from the usc gould school of law in 1957 .", [36, 58, "organization-education"]]
["the commercial won moveon.org 's contest for funniest ad and aired on comedy central .", [19, 28, "organization-other"], [70, 83, "location-other"]]
["second , camel cigarettes came on the market in 1913 .", [9, 13, "organization-company"]]
["he was in 1697 promoted to lieutenant-colonel and in 1701 to colonel and chief of the new funen infantry regiment .", [90, 112, "organization-other"]]
["ljhs did meet each of the other four criteria .", [0, 3, "organization-education"]]
["in other words , it refers to the fact that the brocken was eroded or `` broken down '' to its present size .", [48, 54, "location-mountain"]]
["khadakwasla dam burst at 7:30 am on 12 july 1961 , causing the greatest ever disaster to strike pune .", [0, 14, "location-other"]]
["the chp concluded in its 38-page report that the digital audio files were placed on a website that was `` accessed by backwards browsing ... which does not constitute a crime . ''", [4, 6, "organization-other"]]
["the new holiday company continued with both in-house airlines ( thomsonfly and first choice airways ) through winter 2007 and summer 2008 until the two were merged on 1 november 2008 as thomson airways .", [64, 73, "organization-company"], [79, 98, "organization-company"], [186, 200, "organization-company"]]
["vaughan road academy students also began wearing school uniforms as well .", [0, 19, "organization-education"]]
["it was lying in the district of debeira-east .", [32, 43, "location-other"]]
["currently it is referred to as `` gwanak , '' since `` san '' already contains the meaning of `` mountain . ''", [34, 39, "location-mountain"]]
["the 2010 season partners the team with the north county times and have secured a deal with koct to broadcast home games on tuesday and thursdays during prime time at 6p.m .", [43, 60, "organization-media/newspaper"], [91, 94, "organization-media/newspaper"]]
["cueva de la candelaria findings are interesting by the large amount of textiles found on this site .", [0, 21, "location-other"]]
["the resulting flood , sent a massive wave of water and debris down the canyon and the santa clara river valley and to the sea , killing up to 600 people .", [86, 109, "location-mountain"]]
["the northern sierra pelona mountains , northwestern topatopa mountains , southern santa ana mountains , and downtown los angeles skyscrapers can be seen from higher neighborhoods , passes , and parks in the san fernando valley .", [13, 35, "location-mountain"], [52, 69, "location-mountain"], [82, 100, "location-mountain"], [108, 127, "location-other"], [207, 225, "location-other"]]
["in 2007 , a dup spokesman confirmed that these views were in line with party policy .", [12, 14, "organization-politicalparty"]]
["the socialist revolutionary party ( srs ) wanted to keep the congress peasants ' deputies separate from that of the", [4, 32, "organization-politicalparty"], [36, 38, "organization-politicalparty"], [61, 88, "organization-other"]]
["in 2002 the ume\u00e5 university 's school of restaurant and culinary arts was inaugurated .", [12, 68, "organization-education"]]
["flat lick ford , cumberland river , february 14 .", [0, 13, "location-other"], [17, 32, "location-bodiesofwater"]]
["the la times reported that the disney vacation club 's sales and profits more than doubled from 2003 to 2007 .", [0, 11, "organization-media/newspaper"], [31, 50, "organization-company"]]
["he served as chair of biochemistry at university of iowa from 2009 to 2020 .", [38, 55, "organization-education"]]
["to increase output , studies were made of the lena , yenisei and ob river systems .", [46, 49, "location-bodiesofwater"], [53, 59, "location-bodiesofwater"], [65, 66, "location-bodiesofwater"]]
["further south is the muddy valley of the douve river , ploegsteert wood ( plugstreet to the british ) and hill 63 .", [41, 51, "location-bodiesofwater"], [106, 112, "location-mountain"]]
["she stayed with them as they transitioned to fox sports networks .", [45, 63, "organization-media/newspaper"]]
["in april 2011 , kgmb began carrying this tv on its second digital subchannel .", [16, 19, "organization-media/newspaper"]]
