["scopolamine and atropine have similar effects on the peripheral nervous system .", [0, 10, "other-medical"], [16, 23, "other-medical"]]
["the project also included the first gladesville bridge ( 1881 ) and iron cove bridge ( 1882 ) .", [36, 53, "location-other"], [68, 83, "location-other"]]
["she began skating at age nine when her father took peggy and her three sisters skating .", [51, 55, "person-athlete"]]
["this was the fourteenth annual big east conference baseball tournament .", [31, 69, "event-sportsevent"]]
["`` just another day `` was released with further versions .", [3, 18, "art-music"]]
["the proposed sp.a / spirit / groen !", [13, 16, "organization-politicalparty"], [20, 25, "organization-politicalparty"]]
["the ylang ylang festival is celebrated by the municipality every 16 march to take pride of their main local products , which are perfumes and essentials oils made from the ylang-ylang flower .", [172, 189, "other-livingthing"]]
["the highest concentrations of kirkbride plan hospitals were in the northeast and midwestern states .", [30, 53, "building-hospital"]]
["the production officially opened at dublin 's bord g\u00e1is energy theatre in october 2016 , and closed at the bradford alhambra theatre on may 13 , 2017 .", [36, 69, "building-theater"], [107, 131, "building-theater"]]
["other theology degree titles used are master of theology ( th.m .", [38, 55, "other-educationaldegree"]]
