["herut 's political expectations were high as the first election approached in 1949 .", [0, 4, "organization-politicalparty"]]
["he is also known for the song `` malafemmena `` .", [33, 43, "art-music"]]
["the present chapel is built from cilgerran stone , and there was originally an `` eleventh-hour '' clock face painted on the fa\u00e7ade but this has since been rendered over .", [33, 47, "location-other"]]
["sorbus parumlobata is a species of plant in the family rosaceae .", [0, 17, "other-livingthing"]]
["by the mid-1980s , tylenol had rebounded completely .", [19, 25, "other-medical"]]
["joe tortolano was sent off during the match for a tackle on gordon strachan .", [0, 12, "person-athlete"], [60, 74, "person-athlete"]]
["the new production opened at the london coliseum theatre on 5 september 1918 .", [33, 55, "building-theater"]]
["he ran the marathon in under two hours and ten minutes on two occasions , including 2:09:21 for third at the 2003 eindhoven marathon and 2:08:21 hours at the 2003 paris marathon .", [114, 131, "event-sportsevent"], [163, 176, "event-sportsevent"]]
["it also offers a bachelor of arts in church ministries degree .", [17, 53, "other-educationaldegree"]]
["it includes the safra children 's hospital and padeh geriatric rehabilitation center .", [16, 41, "building-hospital"], [47, 83, "building-hospital"]]
