["the basalt image originally was stationed at medinet-habu as part of the cultic celebration of the pharaonic `` sed-festival '' , but was transferred at some point to herakleopolis and the temple of herishef .", [45, 56, "location-other"], [167, 179, "location-other"]]
["the us-412 designation was applied to the cimarron turnpike in 1988 .", [4, 9, "location-road/railway/highway/transit"], [42, 58, "location-road/railway/highway/transit"]]
["the provisional irish republican army claimed responsibility for the attack .", [4, 36, "organization-other"]]
["the company 's name was changed to prinair the following year ( puerto rico international air lines ) .", [35, 41, "organization-company"], [64, 98, "organization-company"]]
["he was director-general of the british council from 1980 to 1987 , and president of trinity college , oxford from 1987 to 1996 .", [31, 45, "organization-other"], [84, 107, "organization-education"]]
