["today , hsdm is the smallest school at harvard university with a total student body of 280 .", [8, 11, "organization-education"], [39, 56, "organization-education"]]
["from route 38 , there are several entrances .", [5, 12, "location-road/railway/highway/transit"]]
["he had previously served as president of the puerto rico industrial development company and gdb president during the first administration of gov .", [45, 86, "organization-company"], [92, 94, "organization-other"]]
["this is an area of desert land high on the colorado plateau , with pinyon and juniper forests on the plateau .", [43, 58, "location-other"]]
