["wolves in the throne room were chosen by godspeed you !", [0, 24, "art-music"]]
["he finished runner-up , but , unable to land a formula one seat , raced in the world series by renault series in 2005 .", [47, 57, "event-sportsevent"], [79, 101, "event-sportsevent"]]
["he decided to return to school in 1996 , earning his b.a .", [53, 55, "other-educationaldegree"]]
["it was also performed in january 1998 at new york 's dance theater workshop and minneapolis ' walker art center .", [41, 74, "building-theater"], [80, 110, "building-theater"]]
["she writes that `` even into the twenty-first century mainstream conservative republican politicians continued to associate themselves with issues , symbols , and organizations inspired by the neo-confederate right `` .", [78, 87, "organization-politicalparty"], [193, 213, "organization-politicalparty"]]
