["\u00e1guila of the primera divisi\u00f3n for the clausura 2016 .", [39, 51, "event-sportsevent"]]
["some theories claim that this station was closed as a result of the destruction and burning down of the building located above the station , which was the headquarters of the argentine socialist party at the time .", [175, 199, "organization-politicalparty"]]
["the mapparium was closed in 1998 for a four-year cleaning and renovation .", [4, 12, "building-theater"]]
["largely ignored upon release , `` now is early `` is now regarded as a `` lost classic '' and forerunner to jungle music .", [34, 45, "art-music"]]
["the ph.d . programs last between three and five years .", [4, 9, "other-educationaldegree"]]
