["the company 's name was changed to prinair the following year ( puerto rico international air lines ) .", [35, 41, "organization-company"], [64, 98, "organization-company"]]
["skyway committee - deals with improvements to the st. paul skyway .", [0, 15, "organization-other"], [50, 64, "location-road/railway/highway/transit"]]
["in 1993 , the international firm was renamed deloitte touche tohmatsu .", [45, 68, "organization-company"]]
["he served in the african army for ten years and was commended eight times in the army corps order .", [17, 28, "organization-other"]]
["it is on the greenford branch line , down the line from and measured from .", [13, 21, "location-road/railway/highway/transit"]]
["in the election , the party only increased their share of the vote by 2.3 % and had their number of seats reduced to six after being overwhelmingly defeated in the glasgow east constituency .", [164, 175, "location-other"]]
["he was director-general of the british council from 1980 to 1987 , and president of trinity college , oxford from 1987 to 1996 .", [31, 45, "organization-other"], [84, 107, "organization-education"]]
["to the north of whittington , there is a disused pumping station by the junction with the stringside drain , and the river becomes navigable .", [16, 26, "location-other"], [90, 105, "location-other"]]
["the address is 300 s. hull street .", [15, 32, "location-road/railway/highway/transit"]]
["following a competitive review , sncaso would receive a development order calling for a pair of manned scale models and a full-sized prototype .", [33, 38, "organization-company"]]
["both the vanderbilt university school of medicine and the vanderbilt university school of nursing rank in the top 20 in the `` u.s. news & amp ; world report '' rankings .", [9, 48, "organization-education"], [58, 96, "organization-education"]]
["the mayors \u2019 taskforce for jobs ( mtfj ) is a local government initiative addressing issues relating to employment and livelihood .", [4, 30, "organization-other"], [34, 37, "organization-other"]]
["in march 2013 , lloyds sold 20 % of its shareholding in st. james 's place to some institutional investors and sold the remaining holdings in december 2013 for \u00a3670m .", [56, 73, "location-other"]]
["in april 2013 , nis america announced that they would be handling publishing duties of the game for europe and australia .", [16, 26, "organization-company"]]
["this name appears on the stadler regio-shuttle rs1 diesel railcars which have since been introduced .", [25, 49, "location-road/railway/highway/transit"]]
["the largest of these solar thermal power stations is the segs group of plants in the mojave desert with a total generating capacity of 354 mw , making the system the largest solar plant of any kind in the world .", [85, 97, "location-other"]]
["he was an organist under giacomo carissimi at the collegio germanico beginning in september 1643 and held the post until 1645 .", [25, 67, "organization-education"]]
["she later continued her legal education at the university of london .", [47, 66, "organization-education"]]
["south of 120th street , the eastern side of claremont avenue features the heavily fortified backside of the barnard college campus .", [9, 20, "location-road/railway/highway/transit"], [44, 59, "location-road/railway/highway/transit"], [108, 122, "organization-education"]]
