["today , hsdm is the smallest school at harvard university with a total student body of 280 .", [8, 11, "organization-education"], [39, 56, "organization-education"]]
["swan valley anglican community school is a school of the anglican schools commission .", [0, 36, "organization-education"], [57, 83, "organization-education"]]
["from route 38 , there are several entrances .", [5, 12, "location-road/railway/highway/transit"]]
["later it became affiliated with biju patnaik university of technology in the year 2003\u201304 .", [32, 68, "organization-education"]]
["in 1953 , massey-harris merged with the ferguson company to become massey-harris-ferguson , before finally taking on its current name in 1958 .", [10, 22, "organization-company"], [40, 55, "organization-company"], [67, 88, "organization-company"]]
["it is located in faculty of science , chulalongkorn university .", [17, 34, "organization-other"], [38, 61, "organization-education"]]
["he had previously served as president of the puerto rico industrial development company and gdb president during the first administration of gov .", [45, 86, "organization-company"], [92, 94, "organization-other"]]
["it aired on turner classic movies in 2009 and beginning in 2014 , it is broadcast frequently during the holiday season .", [12, 32, "organization-other"]]
["he joined executive airlines on november 9 , 1998 .", [10, 27, "organization-company"]]
["this is an area of desert land high on the colorado plateau , with pinyon and juniper forests on the plateau .", [43, 58, "location-other"]]
["the basalt image originally was stationed at medinet-habu as part of the cultic celebration of the pharaonic `` sed-festival '' , but was transferred at some point to herakleopolis and the temple of herishef .", [45, 56, "location-other"], [167, 179, "location-other"]]
["she worked regular tours including `` the north wales coast express `` , `` welsh marches express `` and `` cumbrian mountain express `` from 1989 to 1994 .", [38, 66, "location-road/railway/highway/transit"], [76, 96, "location-road/railway/highway/transit"], [108, 132, "location-road/railway/highway/transit"]]
["the us-412 designation was applied to the cimarron turnpike in 1988 .", [4, 9, "location-road/railway/highway/transit"], [42, 58, "location-road/railway/highway/transit"]]
["auckland harbour bridge had its original moveable barrier system installed in 1990 .", [0, 22, "location-other"]]
["the provisional irish republican army claimed responsibility for the attack .", [4, 36, "organization-other"]]
["the channel cut by that flood is known as the clearwater spillway .", [46, 64, "location-other"]]
["liga club f.c .", [0, 3, "organization-other"]]
