["known in japan as `` the pizza man '' and `` the grand chef '' , he strives to improve italian cuisine internationally .", [9, 13, "location-GPE"], [87, 93, "location-GPE"]]
["in an official poll hosted by google and the pokemon company for 2020 pokemon day where people could vote for pokemon from each region , bulbasaur was voted as the # 13 most popular pokemon overall and the # 3 most popular in kanto region .", [30, 35, "organization-company"], [41, 59, "organization-company"], [226, 230, "location-other"]]
["the socialist revolutionary party ( srs ) wanted to keep the congress peasants ' deputies separate from that of the", [4, 32, "organization-politicalparty"], [36, 38, "organization-politicalparty"], [61, 88, "organization-other"]]
["situated 400 m southwest of the summit of oborishte ridge and 1.35 km west of nevlya peak .", [42, 56, "location-mountain"], [78, 88, "location-mountain"]]
["in 2002 the ume\u00e5 university 's school of restaurant and culinary arts was inaugurated .", [12, 68, "organization-education"]]
["flat lick ford , cumberland river , february 14 .", [0, 13, "location-other"], [17, 32, "location-bodiesofwater"]]
["the clara barton parkway is administratively part of the george washington memorial parkway .", [4, 23, "location-road/railway/highway/transit"], [57, 90, "location-road/railway/highway/transit"]]
["she stayed with them as they transitioned to fox sports networks .", [45, 63, "organization-media/newspaper"]]
