["the rauma line railway opened on 29 november 1924 .", [4, 21, "location-road/railway/highway/transit"]]
["mccallister 's contribution to the film delivered him a four-year contract with fox .", [80, 82, "organization-company"]]
["it is one of the largest pieces of public art in ireland .", [49, 55, "location-GPE"]]
["he received a juris doctor from the usc gould school of law in 1957 .", [36, 58, "organization-education"]]
["the commercial won moveon.org 's contest for funniest ad and aired on comedy central .", [19, 28, "organization-other"], [70, 83, "location-other"]]
["in other words , it refers to the fact that the brocken was eroded or `` broken down '' to its present size .", [48, 54, "location-mountain"]]
["upstream of na noi town is the nam haeng reservoir .", [12, 22, "location-GPE"], [31, 49, "location-bodiesofwater"]]
["the 2010 season partners the team with the north county times and have secured a deal with koct to broadcast home games on tuesday and thursdays during prime time at 6p.m .", [43, 60, "organization-media/newspaper"], [91, 94, "organization-media/newspaper"]]
["in 2007 , a dup spokesman confirmed that these views were in line with party policy .", [12, 14, "organization-politicalparty"]]
