["jamaal wilkes and magic johnson had 24 points each , while abdul-jabbar added 22 and bob mcadoo 19 off the bench .", [0, 12, "person-athlete"], [18, 30, "person-athlete"], [59, 70, "person-athlete"], [85, 94, "person-athlete"]]
["the university offers bachelor of pharmacy ( bpharm ) and master of pharmacy ( mpharm ) and phd degree programs .", [22, 41, "other-educationaldegree"], [45, 50, "other-educationaldegree"], [58, 75, "other-educationaldegree"], [79, 84, "other-educationaldegree"]]
["they feed on leaves of urticaceae ( `` pipturus argenteus `` , `` pipturus arboresceus `` , `` pouzolzia `` , `` villebrunea `` species ) and euphorbiaceae ( `` claoxylon `` ) .", [23, 32, "other-livingthing"], [39, 56, "other-livingthing"], [66, 85, "other-livingthing"], [95, 103, "other-livingthing"], [113, 123, "other-livingthing"], [142, 154, "other-livingthing"], [161, 169, "other-livingthing"]]
["two singles were released from the album , `` cus , cus `` and `` that go `` , though neither made it to the charts .", [46, 54, "art-music"], [66, 72, "art-music"]]
["gigi fern\u00e1ndez and natasha zvereva won the title , defeating patty fendick and meredith mcgrath in the final .", [0, 13, "person-athlete"], [19, 33, "person-athlete"], [61, 73, "person-athlete"], [79, 94, "person-athlete"]]
["the social credit party of canada expelled them resulting in two rival ontario social credit parties existing for several years .", [4, 32, "organization-politicalparty"], [71, 99, "organization-politicalparty"]]
["the tarim basin is a desert basin lying in westernmost china .", [4, 14, "location-other"]]
["he wrote the famous `` k\u00f6\u00e7ek\u00e7e `` orchestral suite the same year .", [23, 29, "art-music"]]
["with beach volleyball she competed at the 1999 european beach volleyball championships , 2000 european beach volleyball championships with stephanie pohl .", [47, 85, "event-sportsevent"], [94, 132, "event-sportsevent"], [139, 152, "person-athlete"]]
["crosshouse hospital is the site of the purpose-built ayrshire maternity unit , which provides maternity services for the whole of nhs ayrshire & amp ; arran .", [0, 18, "building-hospital"], [53, 75, "building-hospital"], [130, 155, "building-hospital"]]
["after examinations , the residents can relax by joining the dragon boat race which is one of the oldest traditions of ricci hall .", [60, 75, "event-sportsevent"], [118, 127, "location-other"]]
["an initial attempt at sugar cane production in the early 1880s at glen isla plantation failed and the estate was subsequently sold and subdivided into small farms .", [66, 74, "location-other"]]
["the nighthawks were announced as a member of champions indoor football ( cif ) for 2018 , however , due to litigation , the team ceased operations for the season .", [45, 69, "event-sportsevent"], [73, 75, "event-sportsevent"]]
["following the birth of the unc , other political parties were formed .", [27, 29, "organization-politicalparty"]]
["in north america , cockroach racing has recently become a popular feature for money , prizes , or just for its entertainment value .", [3, 15, "location-other"]]
["she represented the australian democrats from 1990 to 2002 , and was her party 's leader from 1997 \u2013 2001 .", [20, 39, "organization-politicalparty"]]
["the band formed in july 2003 and recorded the basis for their debut album `` return to ny `` in six afternoons writing two songs every time .", [77, 88, "art-music"]]
["the conflict over siachen is regularly cited as an example of mountain warfare .", [18, 24, "location-other"]]
["it was later certified gold for selling half a million copies and paved the way for her pop breakthrough in late 1984 with the dance hit `` new attitude `` .", [140, 151, "art-music"]]
["career curricula , 12 transfer a.a . or a.s . curricula and six certificate programs .", [31, 35, "other-educationaldegree"], [40, 44, "other-educationaldegree"]]
["the party was supported by the liberal frisian people 's party ( `` friesche volkspartij `` ) .", [39, 61, "organization-politicalparty"], [68, 87, "organization-politicalparty"]]
["nlnlemmc is the second largest hospital in the state with 411 inpatient beds , serves more than 40 % of the population of the state , and is the sixth largest employer in the state .", [0, 7, "building-hospital"]]
["gemzar also is routinely used in the treatment of non-small cell lung cancer .", [0, 5, "other-medical"]]
["yuri larionov stated the use of the furosemide was for weight loss but diuretics but it can be used as a masking agent for the use other substances , though he claims that `` during the month of december he had bought and then took a over-the-counter drug which behind his back contained a banned matter ''", [0, 12, "person-athlete"], [36, 45, "other-medical"]]
["a west end production was launched at the no\u00ebl coward theatre in february 2014 .", [42, 60, "building-theater"]]
["the band performed four times at the auditorio nacional and sold out two shows in january 2013 .", [37, 54, "building-theater"]]
["the virus isolated in the 2009 outbreak have been found resistant to amantadine and rimantadine .", [69, 78, "other-medical"], [84, 94, "other-medical"]]
["the visual disturbance is due solely to the forced closure of the eyelids .", [4, 21, "other-medical"]]
["it was later designated the `` state theater of kentucky `` in 1974 .", [31, 55, "building-theater"]]
["the hospital was built in 1976 and opened the following year as peninsula private hospital .", [64, 89, "building-hospital"]]
["in 2018 he directed bartok 's bluebeard 's castle and the miraculous mandarin at de munt/la monnaie .", [20, 48, "art-music"], [54, 76, "art-music"], [81, 98, "building-theater"]]
["chuck e. cheese 's pizza time theatre also had animatronic animals that played music as entertainment .", [0, 36, "building-theater"]]
