["herut 's political expectations were high as the first election approached in 1949 .", [0, 4, "organization-politicalparty"]]
["he is also known for the song `` malafemmena `` .", [33, 43, "art-music"]]
["the present chapel is built from cilgerran stone , and there was originally an `` eleventh-hour '' clock face painted on the fa\u00e7ade but this has since been rendered over .", [33, 47, "location-other"]]
["sorbus parumlobata is a species of plant in the family rosaceae .", [0, 17, "other-livingthing"]]
["saunders asked to fight alves 's opponent and former # 1 contender jon fitch , forcing saunder 's opponent ellenberger out of the match .", [0, 7, "person-athlete"], [24, 28, "person-athlete"], [67, 75, "person-athlete"], [87, 93, "person-athlete"], [107, 117, "person-athlete"]]
["by the mid-1980s , tylenol had rebounded completely .", [19, 25, "other-medical"]]
["for this reason , the inagua woodstar , formerly considered a subspecies , is now a species in itself ( `` nesophlox lyrura ) '' .", [22, 36, "other-livingthing"], [107, 122, "other-livingthing"]]
["peeples appeared in the music video for his song `` show me . ''", [52, 58, "art-music"]]
["recent challenges in drug testing include the development of effective regulatory methods for the newer hormonal products such as the various human recombinant erythropoietin products and variants and growth hormones .", [142, 182, "other-medical"], [201, 215, "other-medical"]]
["the southeastern anatolia project ( or gap ) , a very important integrated project for the economic and social development of the southeastern anatolia region , includes active farming with extensive irrigation systems and electricity generation .", [130, 157, "location-other"]]
["today , however , it is difficult to get an accurate count of mondeuse noire plantings due to the longstanding confusion and mis-identification of plantings as being refosco ( and later confusion with calzin ) .", [62, 69, "other-livingthing"], [166, 172, "other-livingthing"], [201, 206, "other-livingthing"]]
["the new production opened at the london coliseum theatre on 5 september 1918 .", [33, 55, "building-theater"]]
["neto also played at the 2016 summer olympics .", [0, 3, "person-athlete"], [29, 43, "event-sportsevent"]]
["he ran the marathon in under two hours and ten minutes on two occasions , including 2:09:21 for third at the 2003 eindhoven marathon and 2:08:21 hours at the 2003 paris marathon .", [114, 131, "event-sportsevent"], [163, 176, "event-sportsevent"]]
["there are numerous ground iguanas , including the green iguana which is the heraldic symbol of terre-de-haut , and the `` iguana delicatissima `` , which is threatened by the appearance of a hybrid stemming from the reproduction between the both species .", [50, 61, "other-livingthing"], [95, 107, "location-other"], [122, 141, "other-livingthing"]]
["marius eriksen competed in the 1912 olympic games as a gymnast .", [0, 13, "person-athlete"], [36, 48, "event-sportsevent"]]
["she is the largest overnight riverboat west of the mississippi river .", [51, 67, "location-other"]]
["the idea of building the gateway bridge was conceived in 1996 , as a way to turn the 1909 shelby street bridge into a pedestrian bridge .", [25, 38, "location-other"], [90, 109, "location-other"]]
["they skated to the song `` one moment in time `` .", [27, 44, "art-music"]]
["he tied for 52nd place in the 1984 open championship .", [35, 51, "event-sportsevent"]]
["the same year , the theatre became the \u201c th\u00e9\u00e2tre imp\u00e9rial \u201d .", [41, 56, "building-theater"]]
["`` aloha from hawaii `` ( which was a worldwide ratings smash ) went to # 1 on the `` billboard '' album chart .", [3, 19, "art-music"]]
["albums that very much reflected this era and inspiration include `` kill em all `` and `` bonded by blood `` .", [68, 78, "art-music"], [90, 104, "art-music"]]
["however , scopolamine has greater effects on the central nervous system ( cns ) than atropine due to its ability to cross the blood\u2013brain barrier .", [10, 20, "other-medical"], [85, 92, "other-medical"]]
["it also offers a bachelor of arts in church ministries degree .", [17, 53, "other-educationaldegree"]]
["she has degrees in aerospace engineering , mechanical engineering and biomedical engineering .", [8, 39, "other-educationaldegree"], [43, 64, "other-educationaldegree"], [70, 91, "other-educationaldegree"]]
["similar graduate degrees are known as master of liberal arts ( mla ) , master of liberal studies ( mls ) , artium liberalium magister ( alm , or art .", [38, 59, "other-educationaldegree"], [63, 65, "other-educationaldegree"], [71, 95, "other-educationaldegree"], [99, 101, "other-educationaldegree"], [107, 132, "other-educationaldegree"], [136, 138, "other-educationaldegree"]]
["in its explanatory statement the court determined that the ndp 's `` key principles and demands '' are based on `` biological-racist ideology ( `` volksbegriff '' ) '' and also that its `` pan-german propaganda '' is in agreement with the main goals of the nazi party .", [59, 61, "organization-politicalparty"], [257, 266, "organization-politicalparty"]]
["it includes the safra children 's hospital and padeh geriatric rehabilitation center .", [16, 41, "building-hospital"], [47, 83, "building-hospital"]]
["the proposed sp.a / spirit / groen !", [13, 16, "organization-politicalparty"], [20, 25, "organization-politicalparty"]]
["the highest concentrations of kirkbride plan hospitals were in the northeast and midwestern states .", [30, 53, "building-hospital"]]
["the production officially opened at dublin 's bord g\u00e1is energy theatre in october 2016 , and closed at the bradford alhambra theatre on may 13 , 2017 .", [36, 69, "building-theater"], [107, 131, "building-theater"]]
["the ambulatory clinic is a day-time clinic for non-emergency visits for patients needing immediate medical attention .", [0, 20, "building-hospital"]]
["originally a carpenter , he embraced literature and his plays were performed at the th\u00e9\u00e2tre du gymnase dramatique , at the th\u00e9\u00e2tre de l'op\u00e9ra-comique and at the th\u00e9\u00e2tre-fran\u00e7ais .", [84, 101, "building-theater"], [123, 148, "building-theater"], [161, 176, "building-theater"]]
["she also served as chief medical officer of cleveland clinic florida from 2000 to 2001 .", [44, 67, "building-hospital"]]
